@charset "utf-8";
/************************************************
Cloud9Inc Publishing Group
Author : Cloud9Inc. (2014.02)
commnet : base
*************************************************/

/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,figure,figcaption{margin:0;padding:0}
body {color:#707070}
img,fieldset{border:0 none}
ul,ol{list-style:none}
button{cursor:pointer}
header,hgroup,article,nav,footer,figure,figcaption,canvas,section,time{display:block}
a{color:#5b5b5b;text-decoration:none;}
a:hover,a:active,a:focus {text-decoration:none;}
img,fieldset,iframe{border:0}
em,address{font-style:normal}
em {color:#229bd3}
hr{display:none}
input,select,button{vertical-align:middle}

textarea {border:solid 1px #dcdcdc;border-radius:0;box-shadow:none;padding:8px;font-size:14px;-webkit-appearance:none;}
input[type=text], input[type=password], input[type=email], input[type=phone], input[type=date] {border:solid 1px #dcdcdc;border-radius:0;box-shadow:none;font-size:14px;-webkit-appearance:none;padding-left:8px;padding-right:8px;line-height:28px;height:26px;min-height:26px;}
input[type=date] {height:26px;}
input[type=checkbox], input[type=radio] {width:18px;height:18px;vertical-align: top;}
select {-webkit-appearance:none;-moz-appearance:none;appearance:none;border:solid 1px #c6c6c6;border-radius:0;font-size:14px;line-height:26px;height:35px;color:#707070;position:relative;padding:0 22px 0 8px;background:#fff url(../img/common/select_arrow.png) right 14px no-repeat;background-size:22px auto;letter-spacing:-1px}
select:disabled {background-color:#eee;}
select.type1 {float:left;height:39px;border:none;border-left:1px solid #c6c6c6;background:#fff url(../img/common/select_arrow_type1.png) right 14px no-repeat;background-size:28px auto;padding:0 31px 0 8px;}
select.type1:first-child {border-left:0}
input::-webkit-input-placeholder {font-size:14px;vertical-align:middle}

.fl {float:left}
.fr {float:right}
.fn {float:none}
.divider {display:inline-block}
.block {display:block}
.mt20 {margin-top:20px !important}
.mr5 {margin-right:5px !important}
.mr15 {margin-right:15px !important}
.mr18 {margin-right:18px !important}
.mb3{margin-bottom:3px !important}
.mb10 {margin-bottom:10px !important}
.mbt5{margin-bottom:5px;margin-top:5px !important}
.ml3{margin-left:3px !important}
.ml40{margin-left:40px !important}
.ml78{margin-left:78px !important}
.ml55{margin-left:55px !important}
.p0 {padding:0 !important}
.p5 {padding:5px !important}
.ptb10 {padding:10px 0 !important}
.pr17 {padding-right:17px !important}
.pr18 {padding-right:18px !important}
.pr35 {padding-right:35px !important}
.pr45 {padding-right:45px !important}
.pl78{padding-left:78px !important}
.txtL{text-align:left !important}
.txtC{text-align:center !important}
.txtR{text-align:right !important}
.ellipsis {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.vertical_m {vertical-align:middle !important;}
.fs13{font-size:13px !important}
.fs16{font-size:16px !important}
.fs30{font-size:30px !important}
.fs35{font-size:35px !important}
.lh17{line-height:17px !important}
html.narrow .mFull{margin:0 -10px !important}
html.narrow .btnFull{width:100%}
.point{color:#229bd3}
.tbpace{letter-spacing:0 !important}









