<?php include "$_SERVER[DOCUMENT_ROOT]/com/common.html"; ?><!DOCTYPE html>
<html xml:lang="ko" lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<title><?=$fileName?></title>

	<link rel="stylesheet" type="text/css" href="/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="/css/layout.css"/>

	<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/modernizr.custom.min.js"></script>
    
    <script type="text/javascript" src="/js/kg_ui.js"></script>
</head>
<body>
    <div id="wrap">
