<nav class="snb">
    <div class="container">
        <div class="userCtrlWrap">
            <div class="userInfo">
                <span class="userTitle">홍길동<span class="userPos">일이삼사오육칠팔구십일이삼사오육칠팔구십</span></span>
            </div>
            <a href="#none" class="btnCls jsNavSnbClose"><span>닫기</span></a>
        </div>
        <ul class="menuList">
            <li><a href="#none">직원검색<span></span></a></li>
            <li><a href="#none">상세검색<span></span></a></li>
			<li><a href="#none">즐겨찾기<span></span></a></li>
            <li><a href="#none">버젼안내<span></span></a></li>
        </ul>
    </div>
</nav>
