<nav class="snb">
    <div class="container">
        <div class="userCtrlWrap">
            <div class="userInfo">
                <span class="userTitle">홍길동<span class="userPos">일이삼사오육칠팔구십일이삼사오육칠팔구십</span></span>
            </div>
            <a href="#none" class="btnCls jsNavSnbClose"><span>닫기</span></a>
        </div>
        <ul class="menuList">
			<li><span></span><a href="#none">가스예보</a></li>
            <li><span></span><a href="#none">재고현황</a></li>
			<li><span></span><a href="#none">주배관압력정보</a></li>
            <li><span></span><a href="#none">버젼정보</a></li>
        </ul>
    </div>
</nav>
