<nav class="snb">
    <div class="container">
        <div class="userCtrlWrap">
            <div class="userInfo">
                <span class="userTitle">홍길동<span class="userPos">일이삼사오육칠팔구십일이삼사오육칠팔구십</span></span>
            </div>
            <a href="#none" class="btnCls jsNavSnbClose"><span>닫기</span></a>
        </div>
        <dl class="userData mg">
            <dt>지식포인트</dt>
            <dd><strong>100</strong>점</dd>
            <dt>연차(유급)</dt>
            <dd><strong>5.0/6.0</strong>일</dd>
            <dt>연차(무급)</dt>
            <dd><strong>5.0/6.0</strong>일</dd>
        </dl>
        <ul class="menuList">
            <li><a href="#none">회의실예약<span></span></a></li>
            <li><a href="#none">당직조회<span></span></a></li>
            <li><a href="#none">차량신청<span></span></a></li>
            <li><a href="#none">일정<span></span></a>
                <ul>
                    <li><a href="#none">&middot;&nbsp;부서일정</a></li>
                    <li><a href="#none">&middot;&nbsp;전사일정</a></li>
                    <li><a href="#none">&middot;&nbsp;임원일정</a></li>
                </ul>
            </li>
            <li><a href="#none">구내식당조회<span></span></a></li>
            <li><a href="#none">정선연수원<span></span></a>
                <ul>
                    <li><a href="#none">&middot;&nbsp;공지사항</a></li>
                    <li><a href="#none">&middot;&nbsp;Q&amp;A</a></li>
                    <li><a href="#none">&middot;&nbsp;연수원 이용안내</a></li>
                    <li><a href="#none">&middot;&nbsp;연수원 이용신청</a></li>
                </ul>
            </li>
            <li><a href="#none">임원 재실관리<span></span></a></li>
            <li><a href="#none">천연가스용어사전<span></span></a></li>
            <li><a href="#none">버전안내<span></span></a></li>
        </ul>
    </div>
</nav>