<nav class="snb">
    <div class="container">
        <div class="userCtrlWrap">
            <div class="userInfo">
                <span class="userTitle">홍길동<span class="userPos">정보기획팀</span></span>
            </div>
            <a href="#none" class="btnCls jsNavSnbClose"><span>닫기</span></a>
        </div>
        <ul class="menuList">
			<li><span></span><a href="#none">사장바인더</a></li>
			<li><span></span><a href="#none">국감자료</a></li>
            <li><span></span><a href="#none">버젼정보</a></li>
        </ul>
    </div>
</nav>
